/* Theme */
$primary-color: #b88e2f;
$light-orange: #f9f1e7;

/* Colors */
$text-color: #666;
$text-color2: #333;
$black-color: #000;
$white-color: #fff;
$light-bg: #f4f5f7;
$Gray1: #3a3a3a;
$Gray2: #9f9f9f;
$Gray3: #898989;
$Gray4: #b0b0b0;
$Gray5: #d8d8d8;
$Red-Accents: #e97171;
$Green-Accents: #2ec1ac;
$Blue-Accents: #2e73c1;
$light-orange-transparent: #fff3e3e0;
