#construction {
  background-image: url(https://res.cloudinary.com/dseqhd3ht/image/upload/v1718188812/website_under_construction_Artboard_1_gabwq7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  button {
    position: absolute;
    bottom: 10px;
    left: 45%;
    font-weight: 700;
  }
}
